.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form div{
    width: 100%;
}
.form .big-label{
    width: 50%;
    display: inline-block;
    text-align: right;
}
.form .form-line {
    margin-bottom: 3%;
}